<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Image Post</title>
</head>
<body>
    <nav id="nav-bar">
        <a href="/postimage">Post</a>
        <a href="/login">Log in</a>
    </nav>

    <!--<div id="banner">
        <div id="banner-icon"><i class="banner-flex-item fa fa-camera-retro" aria-hidden="true"></i></div>
        <span id="banner-text" class="banner-flex-item">Aaron's Photo App</span>
    </div>
    <nav id="nav-bar">
        <div id="brand" class="nav-items">
            <a href="/" id="brand-anchor"><span id="brand-text"><i style="margin-right: .2rem;">i</i>PA</span></a>
        </div>
        <input id="search-text" name="search-text" type="text">
        <div id="text-bar-icon">
            <i id="sicon" class"fas fa-search nav-items"></i>
        </div>
        <a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post</a>
        <a href="/login" id="authenticate-button" class="nav-items anchor-buttons">Log in</a>
    </nav>-->
</body>
</html>