<nav id="nav-bar">
    <a class="nav-bar-logo" href="/"><img id="home-icon" src="/public/images/Home_1.png" alt="Home"></a>
    <a class="nav-bar-text" href="/postimage">Post</a>
    
    {{#if logged}}
    <a class="nav-bar-text" id="logout-button">Log Out</a>
    {{else}}
    <a class="nav-bar-text" id="login-button" href="/login">Log in</a>
    {{/if}}

    <div class="search">
        <input class="text-input" id="search-text" type="text" placeholder="Search..">
        <i id="search-button" class="fa fa-search"></i>
    </div>
</nav>