<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>
    <title>{{title}}</title>
    <link rel="icon" href="/public/images/Logo_3.png">
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>
</html>