<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Image Post</title>
</head>
<body>
    <nav id="nav-bar">
        <a href="/postimage">Post</a>
        <a href="/login">Log in</a>
    </nav>
    
    <div id="main-content">
        <div class="grid-container shadow">
            <header>
                <h1>Image Post</h1>
            </header>
            <post class="post-content">
                <section>
                    <h1>Post Title</h1>
                </section>

                <section>
                    <h2>Post Author</h2>       
                </section>

                <section>
                    <h3>Post Creation Time</h3>
                </section>

                <section>
                    <img src="https://fakeimg.pl/300/">
                </section>
            </post>
        </div>
    </div>
</body>
</html>