<div id="main-content">
    <div class="grid-container shadow">
        <header>
            <h1>Image Post</h1>
        </header>
        <post class="post-content">
            <section>
                <h1>Post Title</h1>
            </section>

            <section>
                <h2>Post Author</h2>       
            </section>

            <section>
                <h3>Post Creation Time</h3>
            </section>

            <section>
                <img src="https://fakeimg.pl/300/">
            </section>
        </post>
    </div>
</div>