<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div id="banner">
        <img id="logo" src="public/images/Logo_3.png" alt="Site Banner">
        <p id="site-name">Aaron's Photo App</p>
    </div>

    <nav id="nav-bar">
        <a class="nav-bar-logo" href="/home"><img id="home-icon" src="public/images/Home_1.png" alt="Home"></a>
        <a class="nav-bar-text" href="/postimage">Post</a>
        <a class="nav-bar-text" href="/login">Log in</a>
    </nav>
    
    <div id="main-content">
        <div class="grid-container shadow">
            <header>
                <h1>Login Form</h1>
            </header>
            <form class="site-content">
                <label for="username" class="text_label">Username </label>
                <input id="username" class="text_input" type="text" placeholder="Username" required/>
                <!--<br/>-->

                <label for="password" class="text_label">Password </label>
                <input id="password" class="text_input" type="password" placeholder="Password" required/>
                <!--<br/>-->

                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </form>
        </div>
    </div>

    <footer id="footer">
        <span id="footer-name">Aaron J Carlson © 2021</span> <a id="email-link" href="mailto:acarlson8@mail.sfsu.edu">Contact Owner</a>
    </footer> 
</body>
</html>