<div id="main-content">
    <div class="grid-container shadow">
        <header>
            <h1>Login Form</h1>
        </header>
        <form class="site-content" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
            <label for="username" class="form-label">Username </label>
            <input id="username" class="form-input" type="text" placeholder="Username" name="username" required/>

            <label for="password" class="form-label">Password </label>
            <input id="password" class="form-input" type="password" placeholder="Password" name="password" required/>

            <button class="form-button" type="submit">Submit</button>
            <button class="form-button" type="reset">Reset</button>

            <label for="register" class="form-label">Don't have an account? <a href="/registration">Register here!</a></label>
        </form>
    </div>
</div>