<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Login</title>
</head>
<body>
    <div class="grid-container shadow">
        <header>
            <h1>Login Form</h1>
        </header>
        <form class="site-content">
            <label for="username" class="text_label">Username </label>
            <input id="username" class="text_input" type="text" placeholder="Username" required/>
            <!--<br/>-->

            <label for="password" class="text_label">Password </label>
            <input id="password" class="text_input" type="password" placeholder="Password" required/>
            <!--<br/>-->

            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>