<div id="main-content">
    <div class="grid-container shadow">
        <header>
            <h1>Post Image</h1>
        </header>
        <form class="site-content">
            <label for="post_title" class="text_label">Post Title</label>
            <input  id="post_title" class="text_input" type="text" placeholder="Post Title" required/>
            <!--<br/>-->

            <label for="post_description" class="text_label">Post Description</label>
            <input id="post_description" class="text_input" type="text" placeholder="Post Description"/>
            <!--<br/>-->
            
            <label for="upload" class="text_label">Upload Image</label>
            <input id="upload" type="file" required/>

            <div class="wide-content">
                <input id="TOS" class="check_input" class="text_label" type="checkbox" required/>
                <label for="TOS" class="check_label">I accept the <a href="#">Acceptable Use Policy</a> for uploading images</label>
            </div>
            <br/>

            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</div>
