<div id="main-content">
    <div class="grid-container shadow">
        <header>
            <h1>Registration Form</h1>
        </header>
            <form class="site-content" method="POST" action="/users/register"
            enctype="application/x-www-form-urlencoded">
                <label for="username" class="form-label">Username</label>
                <input id="username" class="form-input" type="text" placeholder="Username" name="username" autocomplete = "off"/>
                <br/> 
                <span id="username-error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <label for="email" class="form-label">Email</label>
                <input id="email" class="form-input" type="text" placeholder="Email" name="email" autocomplete = "off"/>
                <br/> 
                <span id="email-error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <label for="password" class="form-label">Password</label>
                <input id="password" class="form-input" type="password" placeholder="Password" name="password" autocomplete = "off"/>
                <br/> 
                <span id="password-error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input id="confirm-password" class="form-input" type="password" placeholder="Confirm Password" name="cpassword" autocomplete = "off"/>
                <br/> 
                <span id="confirm-password-error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <div class="wide-content">
                    <input id="check-age" class="check-input" type="checkbox" required/>
                    <label for="check-age" class="check-label">I confirm that I am at least 13 years of age</label>
                </div>

                <div class="wide-content">
                    <input id="TOS" class="check-input" type="checkbox" required/>
                    <label for="TOS" class="check-label">I accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Rules</a></label>
                </div>

                <button class="form-button" type="submit">Submit</button>
                <button class="form-button" type="reset">Reset</button>
            </form>
    </div>
</div>
<script type = "text/javascript" src = "public/js/formValidation.js"></script>