<div id="main-content">
    <div class="grid-container shadow">
        <header>
            <h1>Registration Form</h1>
        </header>
            <form class="site-content" method="POST" action="/users/register"
            enctype="application/x-www-form-urlencoded">
                <label for="username" class="text_label">Username</label>
                <input id="username" class="text_input" type="text" placeholder="Username" name="username" autocomplete = "off"/>
                <br/> 
                <span id="username_error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <label for="email" class="text_label">Email</label>
                <input id="email" class="text_input" type="text" placeholder="Email" name="email" autocomplete = "off"/>
                <br/> 
                <span id="email_error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <label for="password" class="text_label">Password</label>
                <input id="password" class="text_input" type="password" placeholder="Password" name="password" autocomplete = "off"/>
                <br/> 
                <span id="password_error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <label for="confirm_password" class="text_label">Confirm Password</label>
                <input id="confirm_password" class="text_input" type="password" placeholder="Confirm Password" name="cpassword" autocomplete = "off"/>
                <br/> 
                <span id="confirm_password_error" class="error" aria-live="polite"></span>
                <!--<br/>-->

                <div class="wide-content">
                    <input id="check_age" class="check_label" type="checkbox" required/>
                    <label for="check_age" class="text_input">I confirm that I am at least 13 years of age</label>
                </div>  
                <br/> 

                <div class="wide-content">
                    <input id="TOS" class="check_input" type="checkbox" required/>
                    <label for="TOS" class="check_label">I accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Rules</a></label>
                </div>
                <br/>

                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </form>
    </div>
</div>
<script type = "text/javascript" src = "public/js/formValidation.js"></script>